body{
	background-color:#f0f0f0;
	color:#999;
	font-family: 'Microsoft YaHei', 微软雅黑, Lucida, Verdana, 'Hiragino Sans GB', STHeiti, 'WenQuanYi Micro Hei', 'Droid Sans Fallback', SimSun, sans-serif;
}

a{
	color: rgb(48, 135, 253);
	text-decoration:none;
}

.singer{
	font-size: 18px;
	line-height:20px;
}
.singer a{
	color: rgb(48, 135, 18);
	text-decoration:none;
}

.alume{
	width: 100%;
}

.song{
	float:left;
	clear:left;
	margin-right:20px;
	font-size: 18px;
	line-height: 30px;
}